/* Container for the reserved place of the upload map */
#mapContainer {
    position: relative;
    height: 500px;
}

/* Frame that blocks the map display and shows instructional information for the upload feature */
#messageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eaffc7;
    border: 2px solid grey;
    box-sizing: border-box;
}

#messageContainer p {
    color: black;
    margin: 0;
    padding: 20px;
    font-size: 24px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
       -moz-appearance:textfield;
}

input[readonly] {
    background-color: #f0f0f0;
    color: #999999;
}

#uploaded-image{
    padding: 10px;
    height: 300px;
    width: auto;
}

.custom-file-input {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.custom-file-input input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}