.hike-details-page-container {
    display: flex;

    min-height: 89%;
    overflow: auto;

}

.left-box, .right-box {

    background-color: white;
    margin: 15px;
    padding: 30px;
    border:  1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.left-box {
    width: 60%;
}

.left-box-header {
    width: 100%;
    position: relative;

}

.right-box {
    width: 40%;
}

.image-container {

    width: 400px;
    height: 300px;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.hike-details-numbers-container {
    margin-top: 10px;
}

.col {
    vertical-align: center;
    height: 30px;
}

.bo {
    border-left: 1px solid #ccc;
    text-align: left;

}

h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}


.pathdetails_title {
    margin-bottom: 10px;
}

.pathdetails-container{
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.pathdetail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.pathdetail-label {
    flex: 1;
    text-align: left;
}

.pathdetail-value {
    flex: 1;
    text-align: right;
}

.favorite-button {
    background-color: #ffff7a;
    border: none;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.favorite-button:hover {
    background-color: #ffea00;
}


.back-button {
    display: flex;
    background-color: #ccc;
    color: black;
    width: 90px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;


}
.back-button svg {
    margin-right: 5px;
}

.back-button:hover {
    background-color: #999;
}

.author {
    position: absolute;
    font-size: 20px ;
    font-style: italic;
    top: 0;
    right: 0;
}

.fitness-level-easy {
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.fitness-level-moderate {
    background-color: yellow;
    color: black;
    padding: 5px;
    border-radius: 5px;
}
.fitness-level-intermediate {
    background-color: orange;
    color: black;
    padding: 5px;
    border-radius: 5px;
}
.fitness-level-challenging {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.fitness-level-expert {
    background-color: purple;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.fitness-level-unknown {
    background-color: darkgrey;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.months-container {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    margin-top: 10px;
    alignment: center;
}

.binder-image-container img {
    width: 100%;
}

.months-container .container {
    width: 100%;
    background-color: #eaffc7;
}

.months-container .container.row {
    width: 100%;
}

.months-container .container .col{
    border: 1.5px solid green;
    border-radius: 5px;
    margin: 2px;
    background-color: white;
}

.months-container .container .col.month{
    border: 1.5px solid green;
    border-radius: 5px;
    margin: 2px;
    background-color: white;

}
