h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-top: 5vh;
}

/* hike-box-container contains every hike element from the search results*/
.hike-box-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
}

/* hike-box is one hike in the search results list*/
.hike-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden; /* this makes sure that all boxes stay same width even when
                        text is too long */
}

/* hike-box-information contains all the information related to one search result
.hike-box-information {
    margin-left: 160px;
    overflow: hidden;
}
*/

/* h2 is the hike name */
.hike-box h2 {
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 95%; /* Allow text to wrap */
}

/* tooltip */
.hike-box h2::after {
    content: "";
}
.hike-box h2:hover::after {
    content: attr(title);
    display: none;
    white-space: normal;
}

/* Hike name */
.hike-name {
    text-decoration: none;
}

.hike-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* image resizing and aspect ratio */
.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

/* additional formatting for the grid system: vertical lines */
.row-cols-auto .col-md-3 {
    position: relative;
}
.row-cols-auto .col-md-3:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    background-color: #ccc;
}

/* container for distance, duration and height difference
.description {
    font-size: 16px;
}
*/

/* link-container contains link to details page of the hike result */
.link-container {
    font-size: 16px;
    position: relative;
}

/* this is not working yet, is a future feature */
.safe-trail-link {
    float: left;
    color: green;
    text-decoration: none;
    background-color: #f5f5f5;
    padding: 5px 10px;
    border: 1px solid green;
    border-radius: 5px;
}
.safe-trail-link:hover {
    transition-duration: 300ms;
    background-color: green;
    color: #f5f5f5;
}

/* Link to the details page of the hike result */
.hike-details-link {
    float: right;
    color: blue;
    text-decoration: none; /* Remove underline */
    background-color: #f5f5f5;
    padding: 5px 10px;
    border: 1px solid blue;
    border-radius: 5px;
}
.hike-details-link:hover {
    transition-duration: 300ms;
    background-color: blue;
    color: #f5f5f5;
}

/* placeholder for the white space between distance, duration, height difference details
.output-margin {
    margin-right: 40px;
}
*/

/* fitness level tags */
.fitnesslevel {
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 13px;
}
.fitness-level-easy {
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.fitness-level-moderate {
    background-color: yellow;
    color: black;
    padding: 5px;
    border-radius: 5px;
}
.fitness-level-intermediate {
    background-color: orange;
    color: black;
    padding: 5px;
    border-radius: 5px;
}
.fitness-level-challenging {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.fitness-level-expert {
    background-color: purple;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.fitness-level-unknown {
    background-color: darkgrey;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.search-container-rlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    place-items: center;
    padding-bottom: 5vh;
}

.search-button-rlist {
    margin-left: 10px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #b1ff2e;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.search-button-rlist:hover {
    background-color: #8ddb1f;
    transform: scale(1.2);
}

.search-input {
    color: #999999;
    font-style: italic;
}

